<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ConsumeDetailMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.model.ConsumeDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="consume_code" property="consumeCode" jdbcType="VARCHAR" />
    <result column="account_code" property="accountCode" jdbcType="VARCHAR" />
    <result column="consume_money" property="consumeMoney" jdbcType="DECIMAL" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_count" property="productCount" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, consume_code, account_code, consume_money, product_code, product_count, gmt_create
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from finance_consume_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from finance_consume_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.ConsumeDetail" >
    insert into finance_consume_detail (id, consume_code, account_code, 
      consume_money, product_code, product_count, 
      gmt_create)
    values (#{id,jdbcType=BIGINT}, #{consumeCode,jdbcType=VARCHAR}, #{accountCode,jdbcType=VARCHAR}, 
      #{consumeMoney,jdbcType=DECIMAL}, #{productCode,jdbcType=VARCHAR}, #{productCount,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.ConsumeDetail" >
    insert into finance_consume_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="consumeCode != null" >
        consume_code,
      </if>
      <if test="accountCode != null" >
        account_code,
      </if>
      <if test="consumeMoney != null" >
        consume_money,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productCount != null" >
        product_count,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="consumeCode != null" >
        #{consumeCode,jdbcType=VARCHAR},
      </if>
      <if test="accountCode != null" >
        #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="consumeMoney != null" >
        #{consumeMoney,jdbcType=DECIMAL},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null" >
        #{productCount,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.ConsumeDetail" >
    update finance_consume_detail
    <set >
      <if test="consumeCode != null" >
        consume_code = #{consumeCode,jdbcType=VARCHAR},
      </if>
      <if test="accountCode != null" >
        account_code = #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="consumeMoney != null" >
        consume_money = #{consumeMoney,jdbcType=DECIMAL},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productCount != null" >
        product_count = #{productCount,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.ConsumeDetail" >
    update finance_consume_detail
    set consume_code = #{consumeCode,jdbcType=VARCHAR},
      account_code = #{accountCode,jdbcType=VARCHAR},
      consume_money = #{consumeMoney,jdbcType=DECIMAL},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_count = #{productCount,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>